---
import A from './A.astro';
interface Props {
  name: string;
  description: string;
  liveUrl?: string;
  sourceUrl: string;
}
const { name, description, sourceUrl, liveUrl } = Astro.props;
---

<article>
  <header>
    <h3>{name}</h3>
  </header>
  <p>{description}</p>
  <footer>
    <A href={sourceUrl} aria-label={`View ${name} source code`}>Source Code</A>
    {
      liveUrl && (
        <A href={liveUrl} aria-label={`View ${name} live demo`}>
          Live Demo
        </A>
      )
    }
  </footer>
</article>
<style>
  article {
    background-color: var(--color-surface);
    padding: 1.25rem;
    border: 2px solid var(--color-border);
    gap: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-snug);
  }

  p {
    font-size: var(--font-size-base);
    color: var(--color-text-muted);
    flex-grow: 1;
  }

  footer {
    display: flex;
    gap: 1rem;
  }

  footer :global(a:active) {
    transform: scale(0.96);
  }
</style>
